Source: txn-install
Section: utils
Priority: optional
Maintainer: Peter Pentchev <pp@storpool.com>
Build-Depends: debhelper-compat (= 11), libtest-command-perl, libpath-tiny-perl
Standards-Version: 4.1.5
Homepage: https://github.com/storpool/txn-install
Rules-Requires-Root: no
Vcs-Git: https://github.com/storpool/txn-install.git -b debian
Vcs-Browser: https://github.com/storpool/txn-install/tree/debian

Package: txn-install
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, file, patch
Multi-Arch: foreign
Description: keep a record of files installed and roll them back
 The `txn` utility helps automated deployment systems keep track of changes
 made to files and, later, roll those changes back, e.g. when uninstalling
 a module.  While some of its functionality (keeping track of newly-installed
 files) is similar to that of a package management system, its true goal is to
 record modifications made to e.g. configuration files; most package management
 systems run into problems when different packages try to modify the same file.
 The `txn` utility will use the `diff` tool to store a patch into its internal
 database and, later, when asked to roll the change back, will invoke
 the `patch` tool to revert it.
